<p id="notice"><%= notice %></p>

<h1>くに</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kunis.each do |kuni| %>
      <tr>
        <td><%= kuni.content %></td>
        <td><%= link_to 'Show', kuni %></td>
        <td><%= link_to 'Edit', edit_kuni_path(kuni) %></td>
        <td><%= link_to 'Destroy', kuni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kuni', new_kuni_path %>
